<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,520},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{1000,128}}</string>
                <key>sourceSize</key>
                <string>{1008,136}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,96},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{516,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{516,272}}</string>
                <key>sourceSize</key>
                <string>{528,284}</string>
            </dict>
            <key>speedUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,96},{141,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,47}}</string>
                <key>sourceSize</key>
                <string>{141,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Icons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc6152d5f5ffeaaff99cc68912bd586e$</string>
            <key>textureFileName</key>
            <string>Icons.png</string>
        </dict>
    </dict>
</plist>
